<div>
<lightgallery [settings]="settings">
  <a href="https://picsum.photos/id/1018/1000/600" data-lg-size="1000-600"
          data-lg-thumbnail="https://picsum.photos/id/1018/250/150">
          <img src="https://picsum.photos/id/1018/250/150">
      </a>
      <a href="https://picsum.photos/id/102/1000/600" data-lg-size="1000-600"
          data-lg-thumbnail="https://picsum.photos/id/102/250/150">
          <img src="https://picsum.photos/id/102/250/150">
      </a>
      <a href="https://picsum.photos/id/1005/1000/600" data-lg-size="1000-600"
          data-lg-thumbnail="https://picsum.photos/id/1005/250/150">
          <img src="https://picsum.photos/id/1005/250/150">
      </a>
</lightgallery>
</div>